[submodule "laf"]
	path = laf
	url = https://github.com/aseprite/laf.git
[submodule "clip"]
	path = clip
	url = https://github.com/dacap/clip.git
[submodule "undo"]
	path = undo
	url = https://github.com/dacap/undo.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
